<% if @listing.present? %>
  <% if @listing.errors.any? %>
    <% @listing.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new listing
</h1>


<hr>

<form action="/create_listing" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="transaction_id">
      Transaction
    </label>

    <input type="text" id="transaction_id" name="transaction_id" class="form-control" value="<%= @listing.transaction_id %>">
  </div>

  <div class="form-group">
    <label for="isbn">
      Isbn
    </label>

    <input type="text" id="isbn" name="isbn" class="form-control" value="<%= @listing.isbn %>">
  </div>

  <div class="form-group">
    <label for="course">
      Course
    </label>

    <input type="text" id="course" name="course" class="form-control" value="<%= @listing.course %>">
  </div>

  <div class="form-group">
    <label for="photo_url">
      Photo url
    </label>

    <input type="file" id="photo_url" name="photo_url" class="form-control">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @listing.price %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @listing.description %>">
  </div>

  <input type="hidden" name="creator_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="quarter">
      Quarter
    </label>

    <input type="text" id="quarter" name="quarter" class="form-control" value="<%= @listing.quarter %>">
  </div>

  <div class="form-group">
    <label for="school_year">
      School year
    </label>

    <input type="text" id="school_year" name="school_year" class="form-control" value="<%= @listing.school_year %>">
  </div>

  <div class="form-group">
    <label for="tittle">
      Tittle
    </label>

    <input type="text" id="tittle" name="tittle" class="form-control" value="<%= @listing.tittle %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create listing
  </button>
</form>

<hr>

<a href="/listings">
  Go back
</a>
