<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Listing #<%= @listing.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/listings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @listing.creator %>
          <a href="/listings/<%= @listing.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit listing
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @listing.creator %>
          <a href="/delete_listing/<%= @listing.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete listing
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Transaction
      </dt>
      <dd>
        <%= @listing.transaction_id %>
      </dd>

      <dt>
        Isbn
      </dt>
      <dd>
        <%= @listing.isbn %>
      </dd>

      <dt>
        Course
      </dt>
      <dd>
        <%= @listing.course %>
      </dd>

      <dt>
        Photo url
      </dt>
      <dd>
        <img src="<%= @listing.photo_url %>" class="img-fluid">
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @listing.price %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @listing.description %>
      </dd>

      <dt>
        Creator
      </dt>
      <dd>
        <% if @listing.creator.present? %>
          <a href="/users/<%= @listing.creator_id %>">
            <%= @listing.creator.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Quarter
      </dt>
      <dd>
        <%= @listing.quarter %>
      </dd>

      <dt>
        School year
      </dt>
      <dd>
        <%= @listing.school_year %>
      </dd>

      <dt>
        Tittle
      </dt>
      <dd>
        <%= @listing.tittle %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@listing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@listing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

