<h1>
  Edit transaction #<%= @transaction.id %>
</h1>

<hr>

<!-- Form transaction start -->
<form action="/update_transaction/<%= @transaction.id %>" method="post">
<!-- Form transaction end -->

  <!-- Label and input for seller_id start -->
  <div class="form-group">
    <label for="seller_id">
      Seller
    </label>

    <!-- Input for seller_id start -->
    <input type="text" id="seller_id" name="seller_id" class="form-control" value="<%= @transaction.seller_id %>">
    <!-- Input for seller_id end -->
  </div>
  <!-- Label and input for seller_id end -->

  <!-- Label and input for buyer_id start -->
  <div class="form-group">
    <label for="buyer_id">
      Buyer
    </label>

    <!-- Input for buyer_id start -->
    <input type="text" id="buyer_id" name="buyer_id" class="form-control" value="<%= @transaction.buyer_id %>">
    <!-- Input for buyer_id end -->
  </div>
  <!-- Label and input for buyer_id end -->

  <!-- Label and input for sold_status start -->
  <div class="form-check">
    <input type="hidden" value="0" name="sold_status">
    <!-- Input for sold_status start -->
    <input id="sold_status" class="form-check-input" name="sold_status" type="checkbox" value="1" <%= "checked" if @transaction.sold_status %>>
    <!-- Input for sold_status end -->
    <label for="sold_status" class="form-check-label">
      Sold status
    </label>
  </div>

  <!-- Label and input for completed_status start -->
  <div class="form-check">
    <input type="hidden" value="0" name="completed_status">
    <!-- Input for completed_status start -->
    <input id="completed_status" class="form-check-input" name="completed_status" type="checkbox" value="1" <%= "checked" if @transaction.completed_status %>>
    <!-- Input for completed_status end -->
    <label for="completed_status" class="form-check-label">
      Completed status
    </label>
  </div>

  <!-- Label and input for location start -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <!-- Input for location start -->
    <input type="text" id="location" name="location" class="form-control" value="<%= @transaction.location %>">
    <!-- Input for location end -->
  </div>
  <!-- Label and input for location end -->

  <!-- Label and input for time start -->
  <div class="form-group">
    <label for="time">
      Time
    </label>

    <!-- Input for time start -->
    <input type="text" id="time" name="time" class="form-control" value="<%= @transaction.time %>">
    <!-- Input for time end -->
  </div>
  <!-- Label and input for time end -->

  <!-- Label and input for listing_id start -->
  <div class="form-group">
    <label for="listing_id">
      Listing
    </label>

    <!-- Input for listing_id start -->
    <input type="text" id="listing_id" name="listing_id" class="form-control" value="<%= @transaction.listing_id %>">
    <!-- Input for listing_id end -->
  </div>
  <!-- Label and input for listing_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update transaction
  </button>
</form>

<hr>

<a href="/transactions">
  Go back
</a>
